langchain-community
lxml
bs4
boto3
python-dotenv
requests
snowflake-sqlalchemy
SQLAlchemy
pandas
PyPDF2
selenium
webscraping
scrapy-selenium
validators
pydantic 
pytest
elementpath
streamlit
matplotlib